//Section 1 Front Page
.home-banner{
	background: url(../../images/bix_book_homepage.jpg) no-repeat center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
	header{
		position: absolute;
    top: -9999px;
    left: -9999px;
	}
}
.banner-info-wrapper{
  margin: 20px;
  background: rgba(255,255,255,0.8);
  min-height: 400px;
  min-width: 280px;
  outline: solid rgba(255,255,255,0.5) 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    .site-logo{
      max-width: 150px;
      height: auto;
      margin-bottom:-10px;
      margin-top: 40px;
    }
  .bix-book-title{
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font__header;
    letter-spacing: 1px;
    font-size: 1.4rem;
    //margin-bottom:15px;
  }
  .bix-book-subheading{
    font-weight: 100;
    //padding: 5px 20px;
    border-top: solid $color__gray 2px;
    border-bottom: solid $color__gray 2px;
    //margin-bottom: 60px;
  }
  .btn-download{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    //padding: 8px 46px;
    //margin-bottom: 25px;
    font-weight: 300;
  }

  .btn-down{
     @include down-arrow;
     margin-bottom: 10px;
    .fa{
      font-size: 30px;
    }
  }
}

.front-page-author {
  text-transform: uppercase;
}
.front-page-co-author {
  text-transform: uppercase;
}

@media #{$tablet-medium}{
  .home-banner{
    background: url(../../images/bix_book_homepage_lg.jpg) no-repeat center top;
  }
    .banner-info-wrapper{
      min-height: 50vh;
      .site-logo{
        max-width: 220px;
      }
    .bix-book-title{
      font-size: 1.8rem;
    }
  }
}

@media #{$desktop} {
  .banner-info-wrapper{
    min-width: 400px;
    .site-logo{
    max-width: 310px;
  }
    .bix-book-title{
      letter-spacing: 1.3px;
      font-size: 2.3rem;
    }
    .bix-book-subheading{
      font-size: 1.3rem;
      letter-spacing: 1.5px;
      padding: 5px 5px;
      //width: 100%;
      text-align: center;
    }
  }
}

