.home-author{
  margin-bottom:0;
  .author-img-wrapper{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
  }
.home-author-info{
     padding:20px 40px;
   div{
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    .home-subheading{
      width: 100%;
      color:$color__orange;
      border-bottom: solid 2px $color__orange;
      border-top: solid 2px $color__orange;
      font-size: 1.3rem;
      letter-spacing: 1.4px;
      padding:5px 0;
      width: 300px;
      text-align: center;
    }
    
    p{
      font-family: $font__main;
      font-size: 1rem;
      line-height: 25px;
      font-weight: 300;
      display: block;
      max-width: 100%;
    }
    .btn-explore{
      @include btn;
      padding: 10px 80px;
    }
  }
}

@media #{$tablet} {
  .home-author{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 100%;
    .author-img-wrapper{
      flex-basis: 60%;
      max-height: 450px;
      display: flex;
      .author-img{
        height: 450px;
        max-width: none;
      }
    }
    .home-author-info{
      flex-basis: 50%;
      padding:0 10px;
      height: 450px;
      div{
        max-width: 300px;
        height: 100%;
      }
      .home-subheading{
        width: 200px;
      }
      p{
        font-size:.8rem;
        line-height: 20px;  
      }
    }
  }
}

@media #{$tablet-large} {
  .home-author{
    width: 100%;
    margin-bottom: 80px;
    .author-img-wrapper{
      flex-basis: 40%;
      max-height: 450px;
      display: flex;
      justify-content: center;
      .author-img{
        height: 450px;
        max-width: none;
      }
    }
    .home-author-info{
      flex-basis: 55%;
      padding:0px;
      margin-top: 0px;
      div{
        max-width: 100%;
      }
      .home-subheading{
        width: 300px;
        font-size: 1.8rem;
        font-weight: 500;
      }
      p{
        font-size:1.1rem;
        line-height: 28px;
      }
    }
  }
}








