//Section 1 Front Page
.home-banner{
	background: url(../../images/bix_book_homepage.jpg) no-repeat center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
	header{
		position: absolute;
    top: -9999px;
    left: -9999px;
	}
}
.banner-info-wrapper{
  margin: 20px;
  background: rgba(255,255,255,0.7);
  min-height: 400px;
  min-width: 280px;
  outline: solid rgba(255,255,255,0.4) 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .site-logo{
    max-width: 150px;
    height: auto;
    margin-bottom:-10px;
    margin-top: 40px;
  }
  .bix-book-title{
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font__univers;
    letter-spacing: 5px;
    font-size: 2rem;
    margin: 0;
  }
  .bix-book-subheading{
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    font-family: $font__univers;
    font-weight: 100;
    border-top: solid $color__gray 2px;
    border-bottom: solid $color__gray 2px;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .front-page-author {
    font-family: $font__univers;
    font-size: 1.8rem;
    line-height: 1;
  }

  .front-page-co-author {
    font-family: $font__univers;
  }
  .btn-download{
    background-color: black;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 500;
    font-family: $font__univers;
  }

  .btn-down{
     @include down-arrow;
     margin-bottom: 10px;
    .fa{
      font-size: 30px;
    }
  }
}

.front-page-author {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}
.front-page-co-author {
  margin: 0;
  span{
    text-transform: uppercase;
  }
}


@media #{$tablet-medium}{
    .home-banner{
      align-items: none;
    }
    .banner-info-wrapper{
      position: absolute;
      left: 10vw; 
      min-height: 50vh;
      .site-logo{
        max-width: 220px;
      }
    .bix-book-title{
      font-size: 1.8rem;
    }
  }
}

@media #{$desktop} {
  .banner-info-wrapper{
    min-width: 400px;
    .site-logo{
    max-width: 310px;
  }
    .bix-book-title{
      font-size: 3.2rem;
      margin: 0;
    }
    .bix-book-subheading{
      font-size: 1.3rem;
      letter-spacing: 1.5px;
      padding: 5px 5px;
    }
  }
}

