//Section 2 and 3 - Home page image and Quotes
.quote-wrapper-front,.quote-wrapper-front-2{
  height: auto; 
  .quote-img{
    background: url(../../images/bix-homepage-ocean-sm.jpg) no-repeat center top;
    background-size: cover;
    height: 250px;
    overflow: hidden;
    position: relative;
  }
  .quote-img-2 {
   background: url(../../images/bix-homepage-business-sm.jpg) no-repeat center top;
    background-size: cover;
    height: 250px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quote-img:after, .quote-img-2:after{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    content:" ";
    bottom:0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 12px;
    border-color: transparent transparent #fff transparent;
  }
  .quote-wrapper-text{
    text-align: center;
    padding: 30px 15px;
  }
  .quotes-text{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 30px;
    max-width: 400px;
    margin: 0 auto;
  } 
  .quotes-text-top{
    margin-bottom: 15px;
  }
}

//quotes 
.quotes{
  color:$color__orange;
  font-size: 1.2rem;
  font-weight: bold;
}

.quotes-text-orange{
    color: $color__orange;
 }

//hover lay for images
.quote-img,.quote-img-2{
  .overlay{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(112,179,203,.8);
      opacity: 0;
      transition: opacity .3s ease;
      visibility: hidden;
      .btn{
         text-decoration: none;
         background-color: transparent;
         border-radius: 30px;
         color: rgba(255,255,255,1);
         border: solid rgba(255,255,255,1) 2px;
         padding: 10px 20px;
         font-weight: 500;
         font-size: 1.1rem;
         opacity: 0;
         transition: opacity .3s ease;
      }
    }
  }

@media #{$tablet} {
  .quote-wrapper-front{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 60px;
    margin-top: 60px;
    width: 100%;
    .quote-img{
      width: 50%;
      height: 300px;
    }
    .quote-img:after{
      position: absolute;
      content:" ";
      margin:0;
      left: auto;
      right: 0;
      bottom:calc(300px/2 - 40px);
      top: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px 12px 40px 0;
      border-color: transparent #ffffff transparent transparent;
    }
    .quote-wrapper-text{
      width: 50%;
    }
  }
  .quote-wrapper-front-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 60px;
    width: 100%;
    .quote-img-2{
      width: 50%;
      height: 300px;
      order:2;
    }
    .quote-img-2:after{
      position: absolute;
      content:" ";
      margin:0;
      left: 0;
      right: auto;
      bottom:calc(300px/2 - 40px);
      top: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px 0 40px 12px;
      border-color: transparent transparent transparent #ffffff;
    }
    .quote-wrapper-text{
      width: 50%;
    }
  }

//hover overlay for images
.quote-img,.quote-img-2{
  .overlay{
    visibility: visible;
  }
  .overlay:hover{
    opacity: 1;
    .btn{
    opacity: 1;
      }
    }
  }
}

@media #{$tablet-large}{

  .quote-wrapper-front{
    margin-bottom: 80px;
    margin-top: 80px;
    .quote-img{
      height: 380px;
    }
    .quote-img:after{
      bottom:calc(380px/2 - 40px);
    }

  }
  .quote-wrapper-front-2{
    margin-bottom: 80px;
    .quote-img-2{
      height: 380px;
    }
    .quote-img-2:after{
      bottom:calc(380px/2 - 40px);
    }
  }

  .quote-wrapper-front,.quote-wrapper-front-2{
    .quotes-text{
      font-size: 1.3rem;
      line-height: 30px;
    } 
  }
  //hover overlay for images
.quote-img,.quote-img-2{
  .overlay{
    .btn{
        text-decoration: none;
        background-color: transparent;
        border-radius: 50px;
        color: rgba(255,255,255,1);
        border: solid rgba(255,255,255,1) 2px;
        padding: 20px 80px;
        font-weight: 500;
        font-size: 1.5rem;
      }
    }
  }
}

@media #{$desktop}{

  .quote-wrapper-front{
    margin-bottom: 100px;
    margin-top: 100px;
    .quotes-text-top{
      margin-bottom: 50px;
    }
  }
  .quote-wrapper-front-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 100px;
  }
  .quote-wrapper-front,.quote-wrapper-front-2{
    .quote-wrapper-text{
      width: 45%;
    }
    .quotes-text{
      font-size: 1.7rem;
      letter-spacing: 2px;
      line-height: 40px;
    } 
  }
    //quotes 
  .quotes{
    font-size: 1.8rem;
  }
}

@media #{$desktop-large}{
  .quote-wrapper-front{
    .quotes-text{
      width: 500px;
      max-width: none;
    } 
    .quote-wrapper-text{
      width: 50%;
    }
  }
}









