//Section 5 - About Bix summary
.home-book{
  margin-top: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .book-logo{
    max-width: 300px;
    height: auto;
  }

  .home-book-text{
    text-align: center;
  }
  .book-title{
    text-transform: uppercase;
    font-weight: normal;
    font-family: $font__header;
    letter-spacing: 1px;
    font-size: 1.8rem;
    color:$color__gray;
    margin-bottom:0;
    line-height: 0;
  }
  .book-subheading{
    font-weight: 100;
    padding: 5px 5px;
    border-top: solid $color__gray 2px;
    border-bottom: solid $color__gray 2px;
    color: $color__gray;
    font-size: .8rem;
    margin-bottom: 0;
  }
  h3{
    font-size: 1.3rem;
    line-height: 0;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
  p{
    font-size: .8rem;
    letter-spacing: .3px;
    line-height: 10px;
    span{
      font-size: .6rem;
      letter-spacing: .2px;
    }
  }
  .book-summary{
     padding:20px 40px;
     max-width: 100%;
   div{
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .bix-book-title{
      width: 100%;
      color:$color__orange;
      border-bottom: solid 2px $color__orange;
      border-top: solid 2px $color__orange;
      font-size: 1.3rem;
      letter-spacing: 1.4px;
      padding:20px 0;
      width: 300px;
      text-align: center;
    }
    
    p{
      font-family: $font__main;
      font-size: 1rem;
      line-height: 25px;
      margin-bottom:0px;
      display: block;
      max-width: 100%;
      font-weight: 300;
    }
    .btn-discover{
      @include btn;
      padding: 10px 80px;
      margin-top: 20px;
    }
  }
}

@media #{$tablet} {
  .home-book{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: -15px;
    width: 96%;
    .book-logo-wrapper{
      order: 2;
      max-width: 300px;
      width: 45%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    .book-logo{
      max-width: 200px;
      margin-top:0;
    }
    .book-summary{
      max-width: 50%;
      padding:0px 10px;
      order:1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div{
        max-width: 300px;
        height: auto;
        padding:0;
      }
      p{
        font-size: .8rem;
        line-height: 20px;
        display: block;
        max-width: 100%;
      }  
    }
  }
}

@media #{$tablet-large} {
  .home-book{
    margin-bottom: 80px;
    width: 100%;
    .book-logo-wrapper{
      max-width: 400px;
      width: 30%;
    }
    .book-logo{
      max-width: 260px;
    }
    .book-summary{
      max-width: 70%;
      div{
        max-width: 500px;
        padding:0 0px;
      }
      p{
        font-size: 1rem;
        line-height: 25px;
      }  
    }
  }
}

@media #{$desktop} {
  .home-book{
    margin-bottom: 100px;
    .book-logo-wrapper{
      order: 2;
      max-width: 410px;
      width: 30%;
      margin: 0;
      padding:0;
    }
    .book-logo{
      max-width: 300px;
    }
    .book-summary{
      max-width: 65%;
      div{
        max-width: 700px;
      }
      .bix-book-title{
        font-size: 1.8rem;
        letter-spacing: 1.4px;
        padding:25px 0;
        font-weight: 500;
      }
      p{
        font-size: 1.1rem;
        line-height: 28px;
      }  
    }
  }
}




