/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/
.about-banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.site-logo,.about-title,p{
		display: none;
	}
	.about-header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

h3 {
	margin: 0;
	padding: 1rem 0;
}

// author section

	strong {
		font-weight: bold;
	}

	.orange-highlight {
		color: $color__orange;
	}

	.author-section {
		min-width: 320px;
	}

	.author-section-title {
		img {
			display: none;
			visibility: hidden;
		}
		background: rgba(0,0,0,0.35);
		h2 {
			margin: 0;
			padding: 1rem;
			text-align: center;
			font-family: $font__header;
			color: $color__gray;
			font-size: 18px;
			text-transform: uppercase;
		}
	}

	.author-section-intro {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		img {
			max-width: 400px;
		}
		p {
			font-family: $font__header;
			margin: 1rem 2rem;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			span:first-child {
				font-style: italic;
			}
		}
	}

	.author-section-content-wrapper {
		div {
			margin: 0 2rem 1rem 2rem;
			h3 {
				font-family: $font__header;
				color: $color__orange;
				text-transform: uppercase;
				font-weight: 300;
			}
			p {
				font-weight: 300;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				display: block;
				width: 100%;
				span{
					margin-bottom: 1rem;
				}
			}
		}
	}

// company section

	.company-section {
		min-width: 320px;
	}

	.company-section-title {
		position: relative;
		background: url(../../images/about-bickson2.png);
		background-size: cover;
		img {
			visibility: hidden;
		}
		h2 {
			top: 70%;
			width: 100%;
			position: absolute;
			background: rgba(255,255,255,0.8);
			margin: 0;
			padding: 1rem;
			text-align: center;
			font-family: $font__header;
			color: $color__gray;
			font-size: 18px;
			text-transform: uppercase;
		}
	}

	.company-section-content-wrapper {
		div {
			margin: 0 2rem 1rem 2rem;
			h3 {
				font-family: $font__header;
				color: $color__orange;
				text-transform: uppercase;
				font-weight: 300;
			}
			ul {
				margin-top: 0;
				padding: 0 1rem;

				font-weight: 300;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				list-style: none;

				li { line-height: 1.2rem;}

				li:before {   
				    content: "";  
				    border-color: transparent $color__orange;  
				    border-style: solid;  
				    border-width: 0.35em 0 0.35em 0.45em;  
				    display: block;  
				    height: 0;  
				    width: 0;  
				    left: -1em;  
				    top: 0.9em;  
				    position: relative;  
				} 
			}
			p {
				font-weight: 300;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				span{
					margin-bottom: 1rem;
				}
			}
		}
	}

	.company-section-clients {
		margin: 1rem 2rem;
			h3 {
				color: $color__orange;
				text-align: center;
				font-family: $font__header;
				text-transform: uppercase;
				font-weight: 300;
			}
		}

	.company-section-website {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		margin: 1rem 2rem;
		h3 {
			text-align: center;
			font-family: $font__header;
			text-transform: uppercase;
			font-weight: 300;
		}
		.website-img-link {
			max-width: 400px;
			border: solid 1px $color__blue;
		}
		.website-text-link {
			font-family: $font__header;
			text-decoration: none;
			color: $color__blue;
		}
	}

// breakpoints

	@media all and (min-width: 600px) {
		
		.about-banner{
	    background: url(../../images/about-page-banner.png) no-repeat center left;
	    background-size: cover;
	    height: 70vh;
	    overflow: hidden;
	    position: relative;
    .site-logo{
      display: unset;
      max-width: 250px;
    }
    .about-title{
    	display: unset;
      color:#fff;
      border-bottom: solid 2px #fff;
      border-top: solid 2px #fff;
      font-size: 1.5rem;
      padding:10px 0;
      width: 250px;
      text-transform: capitalize;
      font-weight: 500;
      text-align: center;
    }
    p{
    	display: unset;
    	color: #fff;
    	font-weight: 300;
    }
  }



		.about-page-banner{
			display: block;
		}

		.author-section, .company-section {
			margin: 7rem 0;
		}
		.author-section-intro {
		
			img {
				order: 2;
			}
			p {
				order: 1;
			}
		}

		.author-section-title {
			position: relative;
			background: url(../../images/about-bix-bickson.png);
			background-size: cover;
			img {
				display: block;
			}
			h2 {
				top: 70%;
				width: 100%;
				position: absolute;
				background: rgba(255,255,255,0.8);
			}
		}
		.border-wrapper {
			padding: 0 4rem;
			border: 1px solid rgba(0,0,0,0.3);
			border-top: 0;
		}
	}