.bix-book-banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.site-logo{
		display: none;
	}	
}
.the-bix-book-title{
  width: 100%;
  color:$color__orange;
  border-bottom: solid 2px $color__orange;
  border-top: solid 2px $color__orange;
  font-size: 1rem;
  letter-spacing: 1px;
  padding:3px 0;
  width: 230px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.book-title-wrapper{
  display: flex;
  justify-content: center;
}

.book-section1{
	background: 
  linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ), 
    url(../../images/bix-book-banner.png) no-repeat 20% top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;	
  }
.book-section1-inside{
  padding: 5px 20px;
  background-color:rgba(230,230,230,.7);
  display: block;
  max-width: 100%;
  p{
    font-weight: 300;  
  }
}
//desktop styling hidden for mobile
.ribbon, .ribbon-heading{
  display: none;
}

//Carousel styling
.main-carousel{
  .carousel-cell{
    width: 100%; /* full width */
    height: auto; /* height of carousel */
    margin-right: 10px;
  }
  .bix-carousel-img-1{
    background: 
      linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ), 
    url(../../images/bix-book-1.png) no-repeat 20% top;
  }
  .bix-carousel-img-2{
    background: 
      linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ), 
    url(../../images/bix-book-2.png) no-repeat 20% top;
  }
  .bix-carousel-img-3{
    background: 
      linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ), 
    url(../../images/bix-book-3.png) no-repeat 20% top;
  }
  .bix-carousel-img{
    background-size: cover;
    height: 500px;
  } 
  .bix-carousel-info{
    position: absolute;
    height: 250px;
    width: 100%;
    top: 125px;
    padding: 0px 45px;
    background-color:rgba(230,230,230,.7);
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    ul{
      padding:0;
    }
    li{
      font-weight: 300;
      list-style-type: none;
    }
    li:before {   
            content: "";  
            border-color: transparent $color__orange;  
            border-style: solid;  
            border-width: 0.35em 0 0.35em 0.45em;  
            display: block;  
            height: 0;  
            width: 0;  
            left: -1em;  
            top: 1.1em;  
            position: relative;  
        } 
    p{
      font-weight: 300;
    }
  }
  //Flickity Style
  .flickity-page-dots{
    bottom:10px;
  }  
  .flickity-page-dots .dot{
    background: $color__blue;
    width: 20px;
    height: 20px;
  }
  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    background: transparent;
  }
  .flickity-prev-next-button:hover {
    background: transparent;
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: $color__blue;
  }
  .flickity-prev-next-button.no-svg {
    color: $color__blue;
  }
  /* hide disabled button */
  .flickity-prev-next-button:disabled {
    display: none;
  }
}

.book-purchase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    margin-top: 0;

  .book-purchase-info{
    padding: 5px 20px;
    display: block;
    max-width: 100%;
    p{
      font-weight: 300;
      display: block;
      max-width: 100%; 
      text-align: center; 
    }
    .book-buy{
      font-weight: 700;
    }
    .book-buy-light{
      font-weight: 300;
      font-size: .8rem;
      text-align: center;
      letter-spacing: 1.5px;
      span{
        color:$color__blue;
      }
    }
    .fa-cc-paypal{
      color: #253b80;
      font-size: 2.5rem;
      top: 20px;
      vertical-align: text-middle;
      position:relative;
      top:10px;
    }

    .donate-now{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    .book-buy-light{
      margin-bottom:0;
      letter-spacing: 1px;
    }

    }
    .btn-donate{
      @include btn;
      padding: 10px 30px;
      display: block;
      text-align: center;
      width: 230px;
    }
  }
}



@media #{$tablet}{
  .bix-book-banner{
    background: url(../../images/bix-book-banner.png) no-repeat center left;
    background-size: cover;
    height: 70vh;
    overflow: hidden;
    position: relative;
    .site-logo{
      display: unset;
      max-width: 250px;
    } 
    .the-bix-book-title{
      color:#fff;
      border-bottom: solid 2px #fff;
      border-top: solid 2px #fff;
      font-size: 1.5rem;
      padding:10px 0;
      width: 250px;
      text-transform: capitalize;
      font-weight: 500;
    }
  }

  .book-section1{
    background: none;
    padding: 0px 0; 
    max-width: 80vw; 
    margin: 0 auto;
  }
  .book-section1-inside{
    background-color:#fff;
    display: block;
    width: 100%;
  }
  .bix-carousel-info{
    p{
      max-width: 500px;
    }
  }
  .main-carousel{
    .bix-carousel-img-1{
      background: 
        linear-gradient(
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0.1)
      ), 
      url(../../images/bix-book-1.png) no-repeat 20% top;
    }
    .bix-carousel-img-2{
      background: 
        linear-gradient(
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0.1)
      ), 
      url(../../images/bix-book-2.png) no-repeat 20% top;
    }
    .bix-carousel-img-3{
      background: 
        linear-gradient(
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0.1)
      ), 
      url(../../images/bix-book-3.png) no-repeat 20% top;
    }
  }
  .book-purchase{
    max-width: 80vw; 
  }
}

@media #{$tablet-large}{
  
  .book-section1{
    border: solid 1px $color__gray;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    margin-top: 50px;
    position: relative;
    .ribbon{
      display: unset;
      position: absolute;
      top: 35px;
      left: -45px;
    }
    .ribbon-heading{
      display: unset;
      position: absolute;
      top: 23px;
      left: 23px;
      font-weight: 500;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }
  //Carousel styling
  .book-section2{
    width: 80%;
    height: auto;
    margin: 0 auto;
    border: solid 1px $color__gray;
    position: relative;
    margin-top: 50px;
    .ribbon{
      display: unset;
      position: absolute;
      top: 35px;
      left: -45px;
      z-index: 1;
    }
    .ribbon-heading{
      display: unset;
      position: absolute;
      top: 23px;
      left: 23px;
      font-weight: 500;
      font-size: 1.5rem;
      text-transform: uppercase;
      z-index: 2;
    }
  }

  .book-title-wrapper-2{
    display: none;
  }
  .main-carousel{
    .carousel-cell{
      width: 100%; /* full width */
      height: auto; /* height of carousel */
      margin-right: 10px;
    }
    .bix-carousel-img-1{
      background: 
        linear-gradient(
        rgba(255, 255, 255, 0), 
        rgba(255, 255, 255, 0)
  
      ), 
      url(../../images/bix-book-1.png) no-repeat 20% top;
    }
    .bix-carousel-img-2{
      background: 
        linear-gradient(
        rgba(255, 255, 255, 0), 
        rgba(255, 255, 255, 0)
      ), 
      url(../../images/bix-book-2.png) no-repeat 20% top;
    }
    .bix-carousel-img-3{
      background: 
        linear-gradient(
        rgba(255, 255, 255, 0), 
        rgba(255, 255, 255, 0)
      ), 
      url(../../images/bix-book-3.png) no-repeat 20% top;
    }
    .bix-carousel-img{
      background-size: cover;
      height: 500px;
    } 
    .bix-carousel-info{
      position: relative;
      height: 270px;
      padding-bottom:50px;
      top: 0px;
      background-color:#fff;
    }
    //Flickity Style
    .flickity-page-dots{
      bottom:10px;
    }  
    .flickity-page-dots .dot{
      background: $color__blue;
      width: 25px;
      height: 25px;
    }
    .flickity-prev-next-button {
      display: none;
    }
  }
  .book-section3{
    max-width: 100vw; 
  }
  .book-purchase{
    border: solid 1px $color__gray;
    width: 80%;
    margin: 50px auto;
    padding-top: 50px;
    position: relative;
  }
}



