/*--------------------------------------------------------------
# 404 page
--------------------------------------------------------------*/

.error-404 {
	width: 100%;
	padding: 3rem 4rem;
	border: 1px solid rgba(0,0,0,0.3);
	margin: 4rem auto;
	span{
		color: $color__orange;
	}
}

.btn-return{
	@include btn;
	font-size: .9rem;
	padding: 10px 10px;
	text-transform: uppercase;
}
