.footer-content-area {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
  background-color: #545454;
	justify-content: space-between;
	align-items: center;
}

.footer-top {
	font-family: $font__header;
	color: #ffffff;
	justify-content: center;
}

.footer-top h1 {
	font-family: $font__header;
	color: #F9AC31;
}
.footer-form input{
width: 60%;
border: #F9AC31 solid 2px;
margin-bottom: 10px;
}

.footer-form textarea {
	width: 60%;
	height: 30vh;
	border: #F9AC31 solid 2px;
}

.footer-form button {
	width: 60%;
	color: #fff;
	text-decoration: none;
	border: solid #fff 2px;
	border-radius: 20px;
	background-color: $color__blue;
	font-weight: bold;
	font-size: 16px;
	}
.form-position {
	justify-content:  center;
}

.footer-orange {
	color: $color__orange;
}

.icons i {
	color: #ffffff;
	border-top: #F9AC31 2px solid;
	border-bottom: #F9AC31 2px solid;
	margin: 25px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media all and (min-width: 600px) {
	.footer-content-area {
		justify-content: space-between;

	}
	.footer-form {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	  background-color: #545454;
		align-items: center;
	}


}
