.footer-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: flex-start;
	max-width: 1240px;
	background-color: #545454;
}
.footer-top {
	font-family: $font__header;
	color: #ffffff;
	justify-content: center;
}

.footer-top h1 {
	font-family: $font__header;
	color: #F9AC31;
}
.footer-form input{
border: #F9AC31 solid 2px;
margin-bottom: 10px;
}

.footer-form textarea {
	height: 30vh;
	border: #F9AC31 solid 2px;
}

.footer-form button {
	width: 100%;
	color: #fff;
	text-decoration: none;
	border: solid #fff 2px;
	border-radius: 20px;
	background-color: $color__blue;
	font-weight: bold;
	font-size: 16px;
	}
.form-position {
	justify-content:  center;
}

.footer-orange {
	color: $color__orange;
}
.icons {
	display: flex;
	align-items: center;
}
.icons i {
	border: 2px white solid;
	color: #ffffff;
	border-radius: 50%;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media all and (min-width: 600px) {

	.content-area {
		align-items: center;
	}
	 .footer-form {
		 min-width: 100%;
		 display: flex;
		 flex-direction: row;
		 justify-content: space-around;
     padding: 10px;
	 }

	 .footer-form textarea {
      height: 60vh;
	 }

	 .footer-form button {
		 width: 65%;
		 align-self: center;
	 }

 }
