.home-banner{
	background: url(../../images/bix_book_homepage.png) no-repeat center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
	header{
		position: absolute;
		left: 9999px;
	}
  
  .site-logo{
    max-width: 250px;
    height: auto;
    margin-bottom:0;
  }

  h2,h3{
    color: #fff;
    margin-bottom:0;
  }
  h2{
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font__header;
    letter-spacing: 1px;
    font-size: 30px;
  }
  h3{
    font-weight: 100;
    padding: 5px 20px;
    border-top: solid #fff 2px;
    border-bottom: solid #fff 2px;
    margin-bottom: 20%;
  }
  .btn-download{
   @include btn;
    padding: 8px 46px;
    margin-bottom: 10%;
  }

  .btn-down{
     @include down-arrow;
    .fa{
      font-size: 30px;
    }
  }
}

