
*{
	box-size: border-box;
}
.content-area{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.site-main{
	width: 100%;
}

.entry-title{
	position: absolute;
  top: -9999px;
  left: -9999px;
}

//quotes 
.quotes{
  color:$color__orange;
  font-size: 1.2rem;
  font-weight: bold;
}

