
*{
	box-size: border-box;
}
.content-area{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.site-main{
	width: 100%;
}
 
@media #{$tablet} {
 .container{
 	max-width: 1024px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin: 0 auto;
 }
}
