.fa-pencil {
  color: #ffffff;
}

.highlight-example {
  background-color: #ffffff;

  & p{
    color:#444444;
  }

}

/*====================================
  Our highlight-modal Window styles
=====================================*/
.highlight-modal {
  text-transform: capitalize;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 1em;
  box-shadow: none;
  text-shadow: none;

}
@media (min-width: 43.75em) {
  .highlight-modal {
    padding: 1.5em;
  }
}
.highlight-modal > label {
  font-size: 2rem;
  padding: 0 20px;
  color: $color__blue;
}

.highlight-modal img {
  height: 150px;
  width: 280px;
}
.highlight-modal__overlay {
  align-self: center;
  background: #F9AC31;
  bottom: 0;
  position: fixed;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 600;
  width: 90%;
  overflow: scroll;
}

.highlight-modal__wrap {
  display: block;
  padding: 1em 0;
  position: relative;
  margin-top: 20%;
  //max-width: 500px;
  //width: 90%;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.icons-list li {
  display: inline;
  margin-right: 20px;
}

.icon-size {
  display:inline-block;
  background-color: #ffffff;
  color: #F9AC31;
  font-size: 50px;
  line-height: 100px;
  border: 7px solid #FFFFFF;
  border-radius: 50%;
  width: 100px;
  height: 100px;

  /*font-size: 32px;
  line-height: 67px;
  border: 5px solid #FFFFFF;
  border-radius: 60%;
  width: 60px;
  height: 69px; */


  text-align: center;
  vertical-align: bottom;
}

.icon-size:hover {
  box-shadow: none;
  text-shadow: none;
}

@media (min-width: 50em) {
  .highlight-modal__wrap {
    padding: 1.75em;
  }
}
@media (min-height: 37.5em) {
  .highlight-modal__wrap {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -80%);
    width: 100%;
  }
}
.highlight-modal__wrap label {
  background: #F9AC31;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em;
}
.highlight-modal__wrap h2 {
  text-transform: capitalize;
  line-height: 50px;
  color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  text-transform: uppercase;
}
.highlight-modal__wrap-h5 {
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
}
.highlight-modal input:focus ~ label {
  transform: scale(0.97);
}

.model input {
  display: none;
  position: absolute;
  top: -1000px;
}

.highlight-modal__overlay {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -100;
}

.highlight-modal input:checked ~ .highlight-modal__overlay {
  opacity: 1;
//  transform: scale(1);
  z-index: 800;
}
.icons-list li {
  display: inline;
  margin-right: 20px;
}


.highlight-modal__trigger {
    // position: absolute;
    // top: -1000px;
    display: none;
}


.highlight-modal-button {
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  border: solid #fff 2px;
  border-radius: 30px;
  background-color: #70b3cb;
  font-weight: 500;
  font-size: 1.1rem;
  box-shadow: none;
  text-shadow: none;
  width: 50%;
}

.highlight-modal-button:hover{
  text-shadow: none;
  box-shadow: none;
  background-color: #ffffff;
  border: solid #70b3cb 2px;
  color: #70b3cb;
}
