.fa-pencil {
  color: #ffffff;
}

.highlight-example {
  background-color: #ffffff;

  & p{
    color:#444444;
  }

}

.highlight-button {
  color: #fff;
  text-decoration: none;
  border: solid #fff 2px;
  border-radius: 30px;
  background-color: $color__blue;
  font-weight: 500;
  font-size: 1.1rem;
  &:hover{
    color: $color__blue;
    border: solid $color__blue 2px;
    background-color: #fff;
}
}
