// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//down arrow on banner-header images
@mixin down-arrow {
	border: solid #fff 2px;
  border-radius: 50%;
  width:50px;
  height:50px;
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@mixin btn {
	color: #fff;
  text-decoration: none;
  border: solid #fff 2px;
  border-radius: 30px;
  background-color: $color__blue;
  font-weight: 500;
  font-size: 1.1rem;
  &:hover{
    color: $color__blue;
    border: solid $color__blue 2px;
    background-color: #fff;
  }
}