.single-story-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 5;
}

.single-story-modal-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .highlight-modal, .comment-modal, .download-modal {
        display: none;
        position: absolute;
        width: 80%;
        height: 80%;
        padding: 1rem;
    }
}

.highlight-modal {
    text-align: center;
    background: $color__orange;

    .highlight-modal-image {

      img {
      width: 48%;
      display: inline-block;
      }
}

    .highlight-modal-button{
      @include btn;
      padding: 0.5rem 3rem;
      margin: 1rem;
    }

    .highlight-modal-title {
      font-size: 2rem;
      font-family: $font__header;
      color: #ffffff;
      border-top: 2px white solid;
      border-bottom: 2px white solid;
      text-transform: capitalize;
    }

    .highlight-modal-paragraph {
      color: #ffffff;
      font-family: $font__main;
      font-size: .75rem;
      text-transform: capitalize;
    }
}

.comment-modal {
    background: $color__blue;
}

.download-modal {
    background: $color__gray;
}
