/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

// old code

	// /* Links */

	// a {
	// 	color: $color__link;

	// 	&:visited {
	// 		color: $color__link-visited;
	// 	}
	// 	&:hover,
	// 	&:focus,
	// 	&:active {
	// 		color: $color__link-hover;
	// 	}
	// 	&:focus {
	// 		outline: thin dotted;
	// 	}
	// 	&:hover,
	// 	&:active {
	// 		outline: 0;
	// 	}
	// }

	// /* Menus */

	// .main-navigation {
	// 	clear: both;
	// 	display: block;
	// 	float: left;
	// 	width: 100%;

	// 	ul {
	// 		display: none;
	// 		list-style: none;
	// 		margin: 0;
	// 		padding-left: 0;

	// 		ul {
	// 			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	// 			float: left;
	// 			position: absolute;
	// 			top: $base__space-unit;
	// 			left: -999em;
	// 			z-index: 99999;

	// 			ul {
	// 				left: -999em;
	// 				top: 0;
	// 			}

	// 			li {
	// 				&:hover > ul,
	// 				&.focus > ul {
	// 					left: 100%;
	// 				}
	// 			}

	// 			a {
	// 				width: 200px;
	// 			}

	// 			:hover > a,
	// 			.focus > a {
	// 			}

	// 			a:hover,
	// 			a.focus {
	// 			}
	// 		}

	// 		li:hover > ul,
	// 		li.focus > ul {
	// 			left: auto;
	// 		}
	// 	}
	// 	li {
	// 		float: left;
	// 		position: relative;

	// 		&:hover > a,
	// 		&.focus > a {
	// 		}
	// 	}
	// 	a {
	// 		display: block;
	// 		text-decoration: none;
	// 	}

	// 	.current_page_item > a,
	// 	.current-menu-item > a,
	// 	.current_page_ancestor > a {
	// 	}
	// }

	// /* Small menu. */
	// .menu-toggle,
	// .main-navigation.toggled ul {
	// 	display: block;
	// }

	// @media screen and (min-width: 37.5em) {
	// 	.menu-toggle {
	// 		display: none;
	// 	}
	// 	.main-navigation ul {
	// 		display: block;
	// 	}
	// }

	// .comment-navigation,
	// .posts-navigation,
	// .post-navigation {

	// 	.site-main & {
	// 		margin: 0 0 $base__space-unit;
	// 		overflow: hidden;
	// 	}

	// 	.nav-previous {
	// 		float: left;
	// 		width: 50%;
	// 	}

	// 	.nav-next {
	// 		float: right;
	// 		text-align: right;
	// 		width: 50%;
	// 	}
	// }

.mobile-nav-wrapper {
    height: 46px;
    z-index: 99;

	.main-navigation {
		height: auto;
		padding: 10px;
		display: flex;
		position: relative;
		align-items: center;
		justify-content: space-between;
		border-bottom: solid 1px rgba(0,0,0,0.2);
		position: fixed;
		width: 100vw;
		max-width: 100%;
		z-index: 1;
		background: rgba(255,255,255,1);
	}

	.main-navigation-scroll {
		background: rgba(255,255,255,1);
	}

	.logo-link {
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			height: 25px;
		}
	}

	.menu-button {
		font-size: 25px;
		line-height: 0;
		color: $color__gray;
		z-index: 3;
	}

	.menu-button-wrapper {
		position: relative;
		height: 25px;
		width: 25px;

		display: flex;
		align-items: center;
		justify-content: center;

		i {
			position: absolute;
			top: 0;
		} 
	}

	i.fa-bars {
		color: $color__blue;
	}

	i.fa-chevron-up {
		color: white;
		display: none;
	}

	.menu-main-menu-container {
		z-index: 2;
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		background: rgba(0,0,0,0.7);
		width:100vw;
		height:  100vh;
		overflow: hidden;
		ul {
			display: none;
			margin: 0;
			padding: 10px 25px;
			border-top: 46px solid $color__blue;
			position: absolute;
			top: 0;
			right: 0;
			width: 50vw;
			list-style: none;
			text-align: right;
			background: white;
			li {
				margin: 15px 0;
				a {
					font-family: $font__header;
					font-size: $font-size__main;
					text-decoration: none;
					color: $color__blue;
					text-transform: uppercase;
				}
			}

		}
	}

	.menu-item a {
		padding-right: 8px;
		border-right: 8px solid white;
	}

	ul li.current-menu-item a {
		color: $color__orange;
		border-color: $color__orange;
	}

	.transparent-background {
		transition: 1s;
		background: rgba(255,255,255,0.9);
	}

}

.mobile-nav-wrapper-home {
	height: 0;
	.main-navigation {
		background: none;
		border: none;
		justify-content: flex-end;
	}
	.logo-link {
		display: none;
	}
	i.fa-bars {
		color: white;
	}
}

.desktop-nav-wrapper {
	display: none;
	height: 60px;

	.desktop-nav-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		width: 100%;
		background: rgba(255,255,255,1);
		border-bottom: solid 1px rgba(0,0,0,0.2);
		z-index: 99;
	}

	.main-navigation {
		max-width: 1024px;
		justify-content: center;

		height: auto;
		display: flex;
		align-items: center;

		width: 100vw;
	}

	.logo-link {
		flex: 0 0 25%;
		border-top: solid 10px rgba(0,0,0,0);
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			height: 30px;
			margin: 10px 0;
		}
		&:hover {
			transition: 1s;
			border-color: $color__orange;
			color: $color__orange;
		}
	}

	.current-page {
		border-top: solid 10px $color__orange;
	}

	.menu-main-menu-container {
		flex: 0 0 75%;
		width: auto;
		height: auto;
		background: none;

		z-index: 2;
		overflow: hidden;
		ul {
			width: auto;
			display: flex;
			padding: 0;

			margin: 0;
			list-style: none;
			text-align: center;
			transition: 1s;
			li:first-child {
				display: none;
			}

			li {
				flex: 0 0 33.3%;
				border-top: solid 10px rgba(0,0,0,0);
				text-align: center;
				margin: 0;
				padding: 9.5px 0;
				&.current-menu-item {
					border-top: solid 10px $color__orange;
				}
				a {
					font-size: 21px;
					border-right: none;
					padding: 0;

					font-family: $font__header;
					text-decoration: none;
					color: $color__blue;
					text-transform: uppercase;
				}

				&:hover {
					transition: 1s;
					border-color: $color__orange;
					a{transition: 1s; color: $color__orange;}

				}
			}

		}
	}

	ul li.current-menu-item a {
		color: $color__orange;
		border-color: $color__orange;
	}

	.transparent-background {
		background: rgba(255,255,255,0.95);
	}
}


.desktop-nav-wrapper-home {
	position: relative;
	height: 0;
	.desktop-nav-container {
		position: absolute;
		top: 100vh;
	}
	.desktop-nav-fixed {
		position: fixed;
		top: 0;
	}
}

// breakpoints

@media all and (min-width: 600px) {

	.mobile-nav-wrapper {
		display: none;
	}

	.desktop-nav-wrapper {
		display: block;
	}
}
