/*--------------------------------------------------------------
# Single Story
--------------------------------------------------------------*/

.single-story-container{

	.entry-header {
		height: 100vh;
		background: rgba(0,0,0,0.5);
		position: relative;
		font-family: $font__header;
		text-transform: uppercase;



		h2 {
			font-size: 21px;
			position: absolute;
			top: 2vh;
			left: 5vw;
			font-weight: 400;
		}

		h1 {
			text-align: center;
			font-size: 21px;
			position: absolute;
			top: 70vh;
			font-weight: 400;
			background: rgba(255,255,255,0.8);
		}

		.img-container {
			overflow: hidden;

			img {
				width: auto;
				max-width: none;
				height: 100%;
			}
		}
	}

	

}