/*--------------------------------------------------------------
# Single Story
--------------------------------------------------------------*/
.single-story-container{
	min-width: 320px;

	.entry-header {
		height: 100vh;
		background: rgba(0,0,0,0.5);
		position: relative;
		font-family: $font__header;
		text-transform: uppercase;

		h2 {
			font-size: 21px;
			position: absolute;
			top: 2vh;
			left: 5vw;
			font-weight: 400;
		}

		h1.entry-title {
			width: 100%;
			text-align: center;
			font-size: 21px;
			position: absolute;
			top: 70vh;
			font-weight: 400;
			background: rgba(255,255,255,0.8);
		}

		.img-container {
			overflow: hidden;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				min-height: 100%;
				max-width: none;
			}
		}
	}

	.story-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column nowrap;
		h2.story-number {
			border: solid 2px $color__orange;
			border-width: 2px 0;
			text-align: center;
			font-family: $font__header;
			text-transform: uppercase;
			font-size: 21px;
			font-weight: 400;
			color: $color__orange;
			padding: 0 10vw;
		}
		p{
			margin: 5vw 10vw;
			font-weight: 300;
		}
		.practice-block {
			font-size: 1.5rem;
			text-transform: uppercase;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column nowrap;
			text-align: center;

			h2.practice-title{
				border: solid 2px $color__orange;
				border-width: 2px 0;
				text-align: center;
				font-family: $font__header;
				text-transform: uppercase;
				font-size: 21px;
				font-weight: 400;
				color: $color__orange;
				padding: 0 10vw;
			}

			hr {
				border: solid $color__orange 1px;
				width: 50vw;
				background: $color__orange;
			}
		}
	}

}

// breakpoints

@media all and (min-width: 600px) {

	.single-story-container {
		.entry-header {
			img {
				min-width: 100%;
			}
		}
	}

}