/* ----------------- Top Section - Banner -------------*/
.stories-banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	.site-logo{
		display: none;
	}	
	.stories-header{
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.stories-title{
	  width: 100%;
	  color:$color__orange;
	  border-bottom: solid 2px $color__orange;
	  border-top: solid 2px $color__orange;
	  font-size: 1rem;
	  letter-spacing: 1px;
	  padding:3px 0;
	  width: 230px;
	  text-align: center;
	  text-transform: uppercase;
	  font-weight: 500;
	  margin-bottom: 0;
	  margin-top: 20px;
	}
	.stories-subtitle{
		font-weight: 300;
		display: block;
		width: 100%;
	}
}

/* ----------------- Stories Section -------------*/
.stories-article{
	margin-bottom:0;
}
.stories-main{
	position: relative;
	margin-bottom: 0;
	.featured-img{
		background-size: cover;
		background-position: center center;
		height: 650px;
		position: relative;
	}	
	.stories-ribbon{
		position: absolute;
		top: 50px;
		left: -45px;

	}
	.story-number{
		position: absolute;
		top: 46px;
		left: 50px;
		text-transform: uppercase;
	}
	.entry-content{
		position: absolute;
		padding: 0 40px;
		bottom: 0;
		width: 100%;
		height: auto;
		background-color: rgba(112,179,203,.8);
		opacity: 1;
		transition: opacity .3s ease;
		color: #fff;
		font-weight: 300;
		.btn-stories{
     text-decoration: none;
     background-color: transparent;
     border-radius: 30px;
     color: rgba(255,255,255,1);
     border: solid rgba(255,255,255,1) 2px;
     padding: 10px 20px;
     font-weight: 500;
     font-size: 1.1rem;
     background-color: $color__blue;
     opacity: 1;
     transition: opacity .3s ease;
     width: 80%;
     display: inline-block;
    }	
    p:nth-child(3){
    	text-align: center;
    }
	}	

.stories-title{
	a{
		text-decoration: none;
		color: #fff;
		font-weight: 500;
		text-transform: uppercase;
		}
	}	
}

@media #{$tablet}{
	.stories-article{
		margin-bottom:50px;
		max-width: 100%;
	}

	.stories-main{
		.entry-content{
			.btn-stories{
	     width: 250px;
	    }	
		}	
	}
}

@media #{$tablet-medium}{
	.stories-banner{
		.stories-title{
		  font-size: 1.5rem;
		}
	}
/* ----------------- Stories Section -------------*/
	.stories-main{
		max-width: 80%;
		margin: 0 auto;
	}
}

@media #{$tablet-large}{
	.stories-banner{
    background: url(../../images/teaser-stories-banner.png) no-repeat center left;
    background-size: cover;
    height: 70vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    .site-logo{
      display: unset;
      max-width: 250px;
    } 
    .stories-title{
      color:#fff;
      border-bottom: solid 2px #fff;
      border-top: solid 2px #fff;
      font-size: 1.5rem;
      padding:10px 0;
      width: 250px;
      text-transform: capitalize;
      font-weight: 500;
	   	&:after{
	   		content:" Stories"
	   	}
    }
    .stories-subtitle{
    	color: #fff;
    }
  }

	.stories-main{
		.entry-content{
			opacity: 0;
			.btn-stories{
	     opacity: 0;
	    }	
		}	
	}
	//hover overlay for images
	.stories-main:hover{
	.entry-content{
	  opacity: 1;
	  .btn{
	  opacity: 1;
	    }
	  }
	}
	.entry-content{
		.stories-title{
			font-size: 2rem;
		}
	}
}

@media #{$desktop}{
	.stories-main{
		max-width: 70%;
	}
}

  

