/*--------------------------------------------------------------
# Stories Page
--------------------------------------------------------------*/

/* ----------------- Top Section - Banner -------------*/
.stories-banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	.site-logo{
		visibility: hidden;
	    height: 0;
	    width: 0;
	    overflow: hidden;
	}	
	.stories-header{
		background: rgba(255,255,255,0.5);

	}
	.stories-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		
	}
	.stories-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
	}
	.stories-title{
	  width: 100%;
	  color:$color__orange;
	  border-bottom: solid 2px $color__orange;
	  border-top: solid 2px $color__orange;
	  font-size: 1rem;
	  letter-spacing: 1px;
	  padding:3px 0;
	  width: 230px;
	  text-align: center;
	  text-transform: uppercase;
	  font-weight: 500;
	  margin-bottom: 0;
	  margin-top: 20px; 
	}
	.stories-subtitle{
		font-weight: 300;
		display: block;
		width: 100%;
		text-align: center;
	}
	.btn-download{
	    background-color: black;
	    padding: 5px 20px;
	    color: #fff;
	    text-decoration: none;
	    text-transform: uppercase;
	    font-weight: 300;
	}
}

/* ----------------- Stories Section -------------*/
.stories-article{
	margin-bottom:0;
}
.stories-main{
	position: relative;
	margin-bottom: 0;
	.featured-img{
		background-size: cover;
		background-position: center center;
		height: 650px;
		position: relative;
		z-index: 0;
	}	
	.stories-ribbon{
		position: absolute;
		top: 50px;
		left: -45px;
	}
	a{
		text-decoration: none;
		color: $color__gray;
	}
	.story-number{
		position: absolute;
		top: 46px;
		left: 50px;
		text-transform: uppercase;
		span{
			font-weight: 300;
		}
	}
	.entry-content{
		position: absolute;
		padding: 20px 40px;
		bottom: 0px;
		width: 100%;
		height: auto;
		background-color: rgba(25,25,25,.8);
		opacity: 1;
		transition: opacity .3s ease;
		color: #fff;
		font-weight: 300;


		.btn-stories{
			@include btn;
		     text-decoration: none;
		     background-color: transparent;
		     padding: 10px 20px;
		     font-size: 1.1rem;
		     opacity: 1;
		     transition: opacity .3s ease;
		     width: 200px;
		     display: block;
		     text-align: center;
		     margin: 0 auto;
		    }	
		    p{
		    	font-weight: 300;
    		}
	}	

.stories-title{
	font-size: 1.5rem;
	a{
		text-decoration: none;
		color: #fff;
		font-weight: 500;
		text-transform: uppercase;
		}	
	}	
}

@media #{$tablet}{
	.stories-article{
		margin-bottom:50px;
		max-width: 100%;
	}

	.stories-main{
		.entry-content{
			.btn-stories{
	     width: 250px;
	    }	
		}	
	}
	.stories-header {
		
	}
}

@media #{$tablet-medium}{
	.stories-banner{
		.stories-title{
		  font-size: 1.5rem;
		}
	}
/* ----------------- Stories Section -------------*/
	.stories-main{
		max-width: 80%;
		margin: 0 auto;
	}
}

@media #{$tablet-large}{
	.stories-banner{
	    background: url(../../images/teaser-stories-banner.jpg) no-repeat center left;
	    background-size: cover;
	    height: 80vh;
	    overflow: hidden;
	    position: relative;
	    margin-bottom: 50px;
	    .site-logo{
	      	visibility: visible;
	    	height: auto;
	    	width: 250px;
	    	overflow: auto;
	      	max-width: 250px;
	    } 
	    .stories-title {
		    color: #fff;
		    border-bottom: solid 2px #fff;
		    border-top: solid 2px #fff;
		    padding:10px 0;
		    width: 250px;
		    text-transform: capitalize;
		    font-weight: 500;
		   	&:after{
		   		content:" Stories"
		   	}
	    }
	    .stories-subtitle{
	    	color: black;
	    }
	}

	.stories-banner {
		align-items: initial;
	}

	.stories-content {
		margin-left: 10vw;
	}

	.stories-main{
		.entry-content{
			opacity: 0;
			.btn-stories{
	     opacity: 0;
	    }	
		}	
		a{
			font-size: 1.5rem;
		}
		.story-number{	
			top: 42px;
			left: 28px;	
		}
	}
	//hover overlay for images
	.stories-main:hover{
	.entry-content{
	  opacity: 1;
	  .btn{
	  opacity: 1;
	    }
	  }
	}
	.entry-content{
		.stories-title{
			a{
				font-size: 2rem;
			}
		}
	}
}

@media #{$desktop-large}{
	.stories-main{
		max-width: 1024px;
	}
}  
  

