.thank-you-modal {
  background-color: $color__orange;
  text-align: center;
  display: none;
    .thank-you-modal-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-flow: column nowrap;

        .thank-you-modal-title {
          font-family: $font__header;
          font-size: 2rem;
          color: #ffffff;
        }

       .thank-you-font {
         font-family: $font__main;
         font-size: 1rem;
         color: #ffffff;
       }

       .thank-you-button {
         @include btn;
         padding: 0.5rem 3rem;
         margin: 1rem;
         cursor: pointer;
       }
  }
}
