// Structure

$base__space-unit: 1.5em;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
// Bix Colors
$color__blue: #70b3cb;
$color__orange: #F9AC31;
$color__gray: #444444;

// Revision 1 colors
$grey_light: #9d9d9d;
$grey_dark: #3f4042;

// Bix Typography

$font__main: 'Roboto', sans-serif;
$font__header: 'Titillium Web', sans-serif;

$font-size__main: 18px;
$font-size__header: 36px;

//media queries mobile first
$tablet: "(min-width: 600px)";
$tablet-medium: "(min-width: 700px)";
$tablet-large: "(min-width: 900px)";
$desktop: "(min-width: 1024px)";
$desktop-large: "(min-width: 1260px)";

//media queries desktop first
$tablet-desktop: "(max-width: 600px)";
$tablet-medium-desktop: "(max-width: 700px)";
$tablet-large-desktop: "(max-width: 900px)";
//Boiler Plate Styles
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
